body {
    color:white;
    background: black;
    margin: 0px;
    font-family: "chakra petch", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(42, 122, 228)
    pedding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228)
}
.chamada{
    background: rgb(184, 156, 213)
    padding-botto: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}
img {
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10xp;
}
.categoria {
    padding-left: 20xp;
    padding-right: 20xp;
    margin-top: 50xp;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200xp;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3xp solid green;
}

.categoria h2 {
    color: rgb(42,122,228);
}